*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'sans-serif';
}

body{
    background-color: aliceblue;
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

h2{
    text-align: center;
}

.uploadContainer{
    
    max-height: 600px;
    max-width: 630px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFF;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #707070;
    border-radius: 10px;
}

p.uploadInstruction{
    color: #707070;
}

#imageUploadContainer{
    margin-top: 20px;
    max-width: 364px;
    max-height: 313px;
    border: 3px dashed #000;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img#uploadIcon{
    display: block;
    margin-bottom: 20px;
    animation: MoveUp 5s linear infinite;
}

@keyframes MoveUp {
    0%{
        
      }
      50% {
        transform: translate(0, 10px);
      }

      100%{
        
      }
    }


.fileInputContainer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fileInput{
    display: block;
    width: 250px;
    margin: 0 auto;
}

#fileInput::file-selector-button {
    margin: 0;
    font-weight: bold;
    color: white;
    padding: 16px;
    border:none;
    border-radius: 16px;
    background-color: #6073ad;
    cursor: pointer;
  }

#fileInput:hover::file-selector-button{
    background-color: #48526f;
}

.nextBtnContainer{
    display: flex;
    flex-direction: row-reverse;
}


button#btnBrowseFile{
    justify-content: flex-end;
    margin-top: 20px;
    background-color: #1B51F4;
    color: #FFF;
    border: none;
    padding: 16px;
    border-radius: 16px;
    cursor: pointer;
}

button#btnBrowseFile:hover{
    background-color: #3515c4;
}


#uploadConfirmation{
    margin-top: 10px;
    display: flex;
    width: 500px;
    height: 70px;
    justify-content:space-around;
    align-items: center;
}

.btnCancel{
    text-decoration: none;
    margin-top: 20px;
    background-color: #A52323;
    color: #FFF;
    border: none;
    padding: 16px;
    border-radius: 16px;
    cursor: pointer;
    align-self: center;
}

.btnCancel:hover{
    background-color: red;
}

button.btnUpload{
    margin-top: 20px;
    background-color: #1B51F4;
    color: #FFF;
    border: none;
    padding: 16px;
    border-radius: 16px;
    cursor: pointer;
    align-self: center;
}

button.btnUpload:hover{
    background-color: #3515c4;
}



.resultContainer{
    
    max-height: 600px;
    max-width: 630px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFF;
    margin: auto auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #707070;
    border-radius: 10px;
}

img.backImg{
    cursor: pointer;
}

img.backImg:hover{
    width: 100px;
    height: 100px;
}

.outputContainer{
    margin-left: 20px;
}