<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pneumonia Detection</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    <h1>Chest X-ray Pneumonia Detection</h1>

    <div class="uploadContainer">

      <!-- Display uploaded image -->
      {% if image_url %}
      <img src="{{ image_url }}" alt="Uploaded Image" width="377" height="316" />
      <p class="fileName">{{ file_name }}</p>
      {% else %}
      <p>No image uploaded yet.</p>
      {% endif %}

      <!-- Cancel and Upload buttons -->
      <div id="uploadConfirmation">
        <a href="/" class="btnCancel">Cancel</a>
        <form action="/result" method="post" enctype="multipart/form-data" style="display: inline;">
            <input type="hidden" name="file_name" value="{{ file_name }}">
            <button type="submit" class="btnUpload">Upload</button>
        </form>
    </div>

  </div>

</body>
</html>

<!--
{% extends 'base.html' %}

{% block content %}
    <h1>Chest X-ray Pneumonia Detection</h1>

    <div class="uploadContainer">
        <img src="{{ url_for('static', filename=name) }}" alt="" width="377" height="316">

        <div id="uploadConfirmation">
            <button class="btnCancel">Cancel</button>
            <form action="/" method="post" enctype="multipart/form-data">
                <input type="submit" class="btnUpload" value="Upload">
            </form>
        </div>
    </div>
{% endblock %}
-->